extends layout.pug 

block content 
    .container 
        h1 All notes

        each note in notes 
            .note-wrapper 
                a.note(href= `/notes/${ note.id }`)= note.title  
                a.delete(href="#") delete 